{% extends 'base.html' %}

{% block title %}Contacto - Propiedades{% endblock %}

{% block content %}
 <!-- Información de contacto -->
            <section class="contact-info" id="contacto">
                <h2>Contactos</h2>
                <p>¿Tienes preguntas o deseas más información? Contáctanos a través de nuestros canales:</p>
                <ul>
                    <li class="contact-item">
                        <img src="{{ url_for('static', filename='iconos/wsp.jpg') }}" alt="WhatsApp Icon" class="contact-icon">
                        <div class="contact-text">
                            <strong>WhatsApp:</strong> <a href="https://wa.me/0983736525?text=Buenos%20d%C3%ADas%2C%20me%20gustar%C3%ADa%20mas%20informaci%C3%B3n%20sobre%20una%20propiedad." target="_blank">Enviar mensaje</a>
                        </div>
                    </li>
                    <li class="contact-item">
                        <img src="{{ url_for('static', filename='iconos/ig.jpg') }}" alt="Instagram Icon" class="contact-icon">
                        <div class="contact-text">
                            <strong>Instagram:</strong> <a href="https://www.instagram.com/irismar_florentin?igsh=MTIxcmtsYnBkcDVnOA==" target="_blank">@irismar_florentin</a>
                        </div>
                    </li>
                    <li class="contact-item">
                        <img src="{{ url_for('static', filename='iconos/fb.jpg') }}" alt="Facebook Icon" class="contact-icon">
                        <div class="contact-text">
                            <strong>Facebook:</strong> <a href="https://www.facebook.com/share/1C1TkDZHjQ/" target="_blank">Irismar Propiedades</a>
                        </div>
                    </li>
                    <li class="contact-item">
                        <img src="{{ url_for('static', filename='iconos/gmail.png') }}" alt="Email Icon" class="contact-icon">
                        
                        <div class="contact-text">
                            <strong>Correo Electrónico:</strong> <a href="mailto:irismar@prueba.com">irismar@prueba.com</a>
                        </div>
                    </li>
                </ul>
            </section>
        
{% endblock %}
